body {
	background-color: #F3F3E0;
	color: #31511E;
	font-family: Helvetica, sans-serif; 

h1, h2 {
	font-family: "Lora", serif;
}

h1 {
	color: #859F3D;
	font-weight: 700;
	letter-spacing: 5px;
	font-size: 32px;
	text-transform: uppercase;
}

h2 {
	color: #608BC1;
	font-size: 24px;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #6B72E1;
	font-weight: bold; 
}

a:hover {
	color: black;
}

div {
	background: lightblue;
	border: 2px solid black;
	margin: 50px;
}

.container {
	width: 700px;
	margin: 40px auto; 
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	border: none; 
}

.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0; 
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i { 
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color: black; 
}

#introduction p {
	margin-bottom: 40px; 
}
